* {
    font-family: Arial, Helvetica, sans-serif;
    /* box-sizing: border-box; */
}
body {
    margin: 0;
    padding: 0;
}

/* SIDE MENU AND FORM */
.side-menu {
    background-color: black;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    z-index: 1;
    top: 0;
    left: -300px;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}
.side-menu.open {
  left:0;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.side-menu h2 {
    color: white;

}
.side-menu label {
  color: white;
}
.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
  }
  .closebtn:hover {
    color: #ab274f;
  }
  .closebtn:active {
    color: #fb607f;
  }
.side-menu form {
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.newBook {
    height: 400px;
}
.newBook > input {
    background-color: transparent;
    color: white;
    border: 0 solid transparent;
    border-bottom: 2px solid white ;
    font-size: large;
    margin: 10px 0; 

    padding-left: 10px;

}
.newBook > input:focus {

    outline: none;
    caret-color: white;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkBox {
    width: 100%;
}
#checkText{
    color: white;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: 18px;
    padding-right: 10px;
}

/* CUSTOM CHECKBOX FROM W3SCHOOLS [https://www.w3schools.com/howto/howto_css_custom_checkbox.asp]

/* Customize the label (the container) */
.container {
    display: inline-block;
    position: relative;
    text-align: center;


    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 100%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #317873;
    border-radius: 100%;

  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .save {
    padding: 8px 20px;
    margin-top: 50px;
    border-radius: 30px;
    border: 3px solid white;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: .2s ease;
  }
  .save:hover{
    background-color: white;
    color: black;
  }
  .save:active {
    transform:scaleX(0.95) scaleY(0.95);
  }
  @media screen and (max-width: 450px) {
    .side-menu {padding-top: 15px;}
    .side-menu a  {font-size: 15px;}
    .side-menu input  {font-size: 15px;}
    .addBookBtn {padding: 5px 16px;}
    .rmvBtn {width: 10px; font-size: 1rem;}
  }

  /* MAIN */

  main {
    
    transition: transform 0.5s;
    width: 100%;
    position: fixed;
    height: 100%;


  }
  main.shift {
    transform: translateX(300px);
  }
  .banner {
    height: 100px;
    width:100%;
    background-color: black;
    color: white;
    text-align: center;
    
  }
  .banner > h1 {
    margin: 0 auto;
    padding-top: 20px;
    width: fit-content;
  }

  .addBookBtn {
    padding: 8px 20px;
    margin: 50px auto 0;
    display: block;
    border-radius: 30px;
    border: 3px solid black;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    transition: .3s ease;
  }

  .addBookBtn:hover {
    background-color: black;
    color: white;
  }

.addBookBtn:active {
    transform: scale(0.95);
}
.form-div {
  margin: 0;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table {

  max-width: calc(100% - 20px);
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top: 10px;
  width: 100%;
  table-layout: fixed;
}
th, td {
  text-align: left;
  padding: 16px;
}
th {
  background-color: black;
  color: white;
}
tr:nth-child(even) {
  background-color: #222;
  color: white;
}

.rmvBtn {
  padding: 6px 15px;

  display: block;
  border-radius: 30px;
  border: 3px solid black;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  transition: .3s ease;
}
tr:nth-child(even) .rmvBtn{
  border-color: white;
  color: white;

}

.rmvBtn:hover {
  background-color: black;
  color: white;
}

tr:nth-child(even) .rmvBtn:hover{
  border-color: white;
  background-color: white;
  color: black;

}
.rmvBtn:active {
  transform: scale(0.93);
}

.error {
  border: 1px #ab274f solid;
}